<h1 id="title" class="title">Register</h1>

<form (ngSubmit)="register()" #form="ngForm" aria-labelledby="title">

    <div class="form-control-group">
        <label class="label" for="input-name">Login:</label>
        <input nbInput
               [(ngModel)]="login"
               #fullName="ngModel"
               id="input-name"
               name="fullName"
               placeholder="Login"
               autofocus
               fullWidth
               [status]="isLoginLengthValid() && loginValid ? 'success' : 'danger'"
               [required]="true"
               [minlength]="Configuration.minimumLoginLength">
        <ng-container *ngIf="fullName.touched">
            <p class="error-message" *ngIf="!isLoginLengthValid()">
                Minimum
                {{Configuration.minimumLoginLength}}
                characters required
            </p>
            <p class="error-message" *ngIf="!loginValid">
                {{errorMessage}}
            </p>
        </ng-container>
    </div>

    <div class="form-control-group">
        <label class="label" for="input-password">Password:</label>
        <input nbInput
               [(ngModel)]="password"
               #passwordForm="ngModel"
               type="password"
               id="input-password"
               name="password"
               placeholder="Password"
               fullWidth
               [status]="isPasswordEqualValid && isPasswordLengthValid() ? 'success' : 'danger'"
               [required]="true"
               [minlength]="Configuration.minimumPasswordLength">
        <ng-container *ngIf="passwordForm.touched">
            <p class="error-message" *ngIf="!isPasswordLengthValid()">
                Minimum
                {{Configuration.minimumPasswordLength}}
                characters required
            </p>
        </ng-container>
    </div>

    <div class="form-control-group">
        <label class="label" for="input-re-password">Repeat password:</label>
        <input nbInput
               [(ngModel)]="passwordRepeat"
               #rePass="ngModel"
               type="password"
               id="input-re-password"
               name="rePass"
               placeholder="Confirm Password"
               fullWidth
               [status]="isPasswordEqualValid()  ? 'success' : 'danger'"
               [required]="true">
        <ng-container *ngIf="rePass.touched">
            <p class="error-message" *ngIf="!isPasswordEqualValid()">
                Password does not match the confirm password.
            </p>
        </ng-container>
    </div>

    <p>

    </p>

    <button nbButton
            fullWidth
            status="success"
            [disabled]="!isValid()">
        Register
    </button>
</form>

<section class="another-action" aria-label="Sign in">
    Already have an account? <a class="text-link" routerLink="../login">Log in</a>
</section>