<div *ngIf="dataExists" class="row">
  <div class="col-md-6">
    <nb-card>
      <nb-card-header>Profile info</nb-card-header>
      <nb-card-body>
        Username
        <h6>{{data.id}}</h6>
        <p></p>
        Password
        <input type="text" nbInput fullWidth placeholder="Password" [(ngModel)]="data.password" disabled>
        <p></p>
        Email
        <input type="text" nbInput fullWidth placeholder="Email" [(ngModel)]="data.email" disabled>
        <p></p>
        Phone number
        <input type="text" nbInput fullWidth placeholder="Phone number" [(ngModel)]="data.phoneNumber" disabled>
        <p></p>
        Name
        <input type="text" nbInput fullWidth placeholder="Name" [(ngModel)]="data.name" disabled>
        <p></p>
        <button nbButton status="primary" [fullWidth]="true" (click)="saveCustomer($event)">
          Save changes
        </button>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-6">
    <nb-card class="inline-form-card">
      <nb-card-header>List of virtual machines</nb-card-header>
      <nb-card-body>
        <p *ngFor="let vmId of data.machineIds; index as i;"><a (click)="navigateToVM(id)">{{id}}</a></p>
      </nb-card-body>
    </nb-card>
  </div>
</div>